<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">

<header class="header">
    <div class="container-header">
        <div class="left">
            <img src="assets/img/header-phone-main.png">
        </div>
        <div class="right">
            <div class="right-first">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <div class="header-logo">
                        <a href="#"><img src="assets/img/header-logo-instagram.png"></a>
                    </div>

                    <p class='p-gray'>Зарегистрируйтесь, чтобы смотреть фото и видео ваших друзей.</p>
                    <button type="submit" class="button-login">
                        <img src="assets/img/facebook-icon2.png">
                        Войти через Facebook
                    </button>

                    <div class="header-line">
                        <hr> или <hr>
                    </div>
                    
                    <div class="header-form-inputs">
                        <input type="text" placeholder="Моб. телефон или эл. адрес" formControlName="email">
                        <div class="text-danger-labels">
                            <label class="text-danger-label" *ngIf="registerForm.get('email')?.touched && registerForm.get('email')?.errors?.['required']">This field is required</label>
                            <label class="text-danger-label" *ngIf="registerForm.get('email')?.errors?.['email']">Bad email format</label>    
                        </div>
                        
                        <input type="text" placeholder="Имя и фамилия" formControlName="name">
                        <div class="text-danger-labels">
                            <label class="text-danger-label" *ngIf="registerForm.get('name')?.touched && registerForm.get('name')?.errors?.['required']">This field is required</label>
                        </div>

                        <input type="text" placeholder="Имя пользователя" formControlName="userName">
                        <div class="text-danger-labels">
                            <label class="text-danger-label" *ngIf="registerForm.get('userName')?.touched && registerForm.get('userName')?.errors?.['required']">This field is required</label>
                            <label class="text-danger-label" *ngIf="registerForm.get('userName')?.touched && registerForm.get('userName')?.errors?.['minlength']">Min 4 characters</label>
                            <label class="text-danger-label" *ngIf="registerForm.get('userName')?.touched && registerForm.get('userName')?.errors?.['maxlength']">Max 20 characters</label>    
                        </div>

                        <input type="password" placeholder="Пароль" formControlName="password">
                        <div class="text-danger-labels">
                            <label class="text-danger-label" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['required']">This field is required</label>
                            <label class="text-danger-label" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['minlength']">Min 6 characters</label>
                            <label class="text-danger-label" *ngIf="registerForm.get('password')?.touched && registerForm.get('password')?.errors?.['maxlength']">Max 32 characters</label>    
                        </div>

                        <div class="error-message">
                            <p *ngFor="let error of errorMessage; let i = index">
                                {{error}}
                            </p>
                        </div>
                    
                        <p class="help-info p-gray">
                            Люди, которые пользуются нашим сервисом, могли загрузить вашу 
                            контактную информацию в Instagram. <a href="#">Подробнее</a>
                        </p>
    
                        <p class="help-info p-gray">
                            Регистрируясь, вы принимаете наши <a href="#">Условия, Политику использования 
                            данных</a> и <a href="#">Политику в отношении файлов cookie.</a>
                        </p>

                        <button type="submit" class="button-register" [disabled]="registerForm.valid !== true">Регистрация</button>
                    </div>

                </form>
            </div>

            <div class="right-second">
                Есть аккаунт? <a href="login">Вход</a>
            </div>

            <div class="right-third">
                Установите приложение.
                <div class="download-ref">
                    <a href="https://apps.apple.com/app/instagram/id389801252?vt=lo">
                        <img src="assets/img/download-appstore.png">
                    </a>

                    <a href="https://play.google.com/store/apps/details?id=com.instagram.android&referrer=utm_source%3Dinstagramweb%26utm_campaign%3DloginPage%26ig_mid%3DAEAE5E34-FFB4-4059-B2DD-CA5BBD093C6A%26utm_content%3Dlo%26utm_medium%3Dbadge">
                        <img src="assets/img/download-googleplay.png">
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<footer class="footer">
    <div class="first-line">
        <ul class="refs">
            <li class="footer-ref"><a href=#>Meta</a></li>
            <li class="footer-ref"><a href=#>Информация</a></li>
            <li class="footer-ref"><a href=#>Блог</a></li>
            <li class="footer-ref"><a href=#>Вакансии</a></li>
            <li class="footer-ref"><a href=#>Помощь</a></li>
            <li class="footer-ref"><a href=#>API</a></li>
            <li class="footer-ref"><a href=#>Конфиденциальность</a></li>
            <li class="footer-ref"><a href=#>Условия</a></li>
            <li class="footer-ref"><a href=#>Популярные аккаунты</a></li>
            <li class="footer-ref"><a href=#>Хэштеги</a></li>
            <li class="footer-ref"><a href=#>Места</a></li>
            <li class="footer-ref"><a href=#>Instagram Lite</a></li>
            <li class="footer-ref"><a href=#>Загрузка контактов и лица, не являющиеся пользователями</a></li>
        </ul>
    </div>
    <div class="second-line">
        <ul class="refs">
            <li class="footer-ref"><a href=#>Танцы</a></li>
            <li class="footer-ref"><a href=#>Еда и напитки</a></li>
            <li class="footer-ref"><a href=#>Дом и сад</a></li>
            <li class="footer-ref"><a href=#>Музыка</a></li>
            <li class="footer-ref"><a href=#>Изобразительное искусство</a></li>
        </ul>
    </div>
    <div class="third-line">
        Русский 
        © 2022 Instagram from Meta
    </div>
</footer>