<header class="header">
    <div class="header-logo">
        <a href=''><img src="assets/img/header-logo-instagram.png"></a>
    </div>
    <div class="header-right">
        <img src="assets/img/search-icon.png" class="search-icon">
        <input type="text" class="search" placeholder="Поиск">

        <div class="header-right-icons">
            <a href="#" class="header-icon">
                <img src="assets/img/icons/home-icon.png">
            </a>
            <a href="#" class="header-icon">
                <img src="assets/img/icons/messanger-icon.png">
            </a>
            <a href="createpost" class="header-icon">
                <img src="assets/img/icons/create-icon.png">
            </a>
            <a href="#" class="header-icon">
                <img src="assets/img/icons/recomendations-icon.png">
            </a>
            <a href="#" class="header-icon">
                <img src="assets/img/icons/heart-icon.png">
            </a>
            <button (click)="userPressed(currentUser.id)" class="header-profile-photo">
                <img src="{{currentUser.profile.mainPhotoUrl}}">
            </button>
        </div>
    </div>
</header>

<section class="profile-view">
    <div class="first-block">
        <div class="first-block-left">
            <img class="profile-photo" src="{{user.profile.mainPhotoUrl}}">
        </div>
        
        <div class="first-block-right">
            <div class="first-line-profile">
                <p class="userName">{{user.userName}}</p>
                <button *ngIf="user.userName != currentUser.userName && profileIsPublicOrFollow()" class="send-message-btn">Відправити повідомлення</button>

                <button *ngIf="user.id != currentUser.id && !isFollower()" (click)="subscribe()" class="subscribe-btn">Підписатись</button>
                <img *ngIf="user.id != currentUser.id && isFollower()" (click)="subscribe()" class="subscribe-pressd-btn" src="assets/img/subscribe-pressed.png">
                
                <a *ngIf="user.userName == currentUser.userName" href="profile/edit"><button class="send-message-btn">Редагувати профіль</button></a>

                <button class="dots-btn"></button>
            </div>

            <div class="second-line-profile">
                <p class="p-second-line-profile" *ngIf="user.posts == null || getCountExistingPosts() == 0"><span>0</span> публікацій</p>
                <p class="p-second-line-profile" *ngIf="user.posts != null && getCountExistingPosts() == 1"><span>1</span> публікація</p>
                <p class="p-second-line-profile" *ngIf="user.posts != null && getCountExistingPosts() > 1 && getCountExistingPosts() <=4"><span>{{getCountExistingPosts()}}</span> публікації</p>
                <p class="p-second-line-profile" *ngIf="user.posts != null && getCountExistingPosts() > 4"><span>{{getCountExistingPosts()}}</span> публікацій</p>

                <p class="p-second-line-profile" *ngIf="user.subscribers == null || user.subscribers.length == 0"><span>0</span> підписників</p>
                <p class="p-second-line-profile" *ngIf="user.subscribers != null && user.subscribers.length == 1"><span>1</span> підписник</p>
                <p class="p-second-line-profile" *ngIf="user.subscribers != null && user.subscribers.length > 1 && user.subscribers.length <=4"><span>{{user.subscribers.length}}</span> підписники</p>
                <p class="p-second-line-profile" *ngIf="user.subscribers != null && user.subscribers.length > 4"><span>{{user.subscribers.length}}</span> підписників</p>

                <p class="p-second-line-profile" *ngIf="user.followers == null || user.followers.length == 0"><span>0</span> підписок</p>
                <p class="p-second-line-profile" *ngIf="user.followers != null && user.followers.length == 1"><span>1</span> підписка</p>
                <p class="p-second-line-profile" *ngIf="user.followers != null && user.followers.length > 1 && user.followers.length <= 4"><span>{{user.followers.length}}</span> підписки</p>
                <p class="p-second-line-profile" *ngIf="user.followers != null && user.followers.length > 4"><span>{{user.followers.length}}</span> підписок</p>

            </div>

            <div class="third-line-profile">
                <p>{{user.profile.firstName}} {{user.profile.lastName}}</p>
                <p class="country-city">{{user.profile.country}} {{user.profile.city}}</p>
                {{user.profile.biography}}
            </div>
        </div>
    </div>
</section>


<section class="publications-block">
    <div *ngIf="profileIsPublicOrFollow()" class="base-line">
        <img src="assets/img/line.png">
        <p class="publication">
            <img src="assets/img/publications.png">
            Публікації
        </p>
    </div>

    <div *ngIf="!profileIsPublicOrFollow()" class="profile-is-private">
        <p>Це закритий акаунт</p>
        <p>Підпишіться, щоб бачити його/її фото і відео</p>
    </div>
    <div *ngIf="profileIsPublicOrFollow()" class="publications">
        <p class="post" *ngFor="let post of user.posts">
            <img *ngIf="!post.isDeleted" src="{{post.imageUrl}}">
        </p>
    </div>
</section>


<footer class="footer">
    <div class="first-line">
        <ul class="refs">
            <li class="footer-ref"><a href=#>Meta</a></li>
            <li class="footer-ref"><a href=#>Информация</a></li>
            <li class="footer-ref"><a href=#>Блог</a></li>
            <li class="footer-ref"><a href=#>Вакансии</a></li>
            <li class="footer-ref"><a href=#>Помощь</a></li>
            <li class="footer-ref"><a href=#>API</a></li>
            <li class="footer-ref"><a href=#>Конфиденциальность</a></li>
            <li class="footer-ref"><a href=#>Условия</a></li>
            <li class="footer-ref"><a href=#>Популярные аккаунты</a></li>
            <li class="footer-ref"><a href=#>Хэштеги</a></li>
            <li class="footer-ref"><a href=#>Места</a></li>
            <li class="footer-ref"><a href=#>Instagram Lite</a></li>
            <li class="footer-ref"><a href=#>Загрузка контактов и лица, не являющиеся пользователями</a></li>
        </ul>
    </div>
    <div class="second-line">
        <ul class="refs">
            <li class="footer-ref"><a href=#>Танцы</a></li>
            <li class="footer-ref"><a href=#>Еда и напитки</a></li>
            <li class="footer-ref"><a href=#>Дом и сад</a></li>
            <li class="footer-ref"><a href=#>Музыка</a></li>
            <li class="footer-ref"><a href=#>Изобразительное искусство</a></li>
        </ul>
    </div>
    <div class="third-line">
        Русский 
        © 2022 Instagram from Meta
    </div>
</footer>